.gallery {
  &__items {
    // margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 2rem;

    // grid-template-columns: repeat(3,1fr);
    gap: 20px;

    &--item {
      background: #d9843b;

      img {
        width: 100%;
      }
    }
    .desc {
      padding: 20px;
      text-align: center;
    }
    h1 {
      margin: 1rem;
      padding: 20px;
      text-align: center;
    }
  }
}
