// .container-space {
//   padding: 2rem 4rem;
// }

.home {
  display: block;
  padding: 2rem 4rem;

  &__display {
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 2rem 10rem;
    background: white;
    color: #d9843b;
    margin: 40px;
    &--item {
      text-align: center;
      p {
        font-size: 1.3rem;
      }
      h {
        font-size: 4rem;
        font-weight: bold;
      }
    }
  }
}
