.settings{
    padding: 20px;
    height: 100%;
}

.wrapper{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    height: 100%;
   
}

.w1{
    background-color: #6b615f;
    display: grid;
    grid-column: 1;
    grid-row: 1;
    padding: 2rem;
    border-top: 1px solid;
    border-left: 1px solid;

    
}

// Change Password
.w2{
   
   background-color: #6b615f;
   padding: 2rem;
   display: grid;
   grid-column: 2;
   grid-row: 1;
   border-top: 1px solid;
   border-left: 1px solid;
}

// Close Account

.w3{
   background-color: #6b615f;
   padding: 2rem;
   grid-column: 2;
   grid-row: 2;
   border-top: 1px solid;
   border-left: 1px solid;
    
}

.uname{
    
    grid-column: 1;
    grid-row: 2;
    
}


#username{
    font-size: 1rem;
}

.email{
    
    grid-column: 2;
    grid-row: 2;
}

#email{
    font-size: 1rem;
}


.textWrap{
    color: #c9c9c9;

}


.iconsC{
    font-size: 1.5rem;
    padding: 0.4rem;
}

.profilePic{
    font-size: 1.5rem;

}


.password{
    
    color: white;
    text-align: center;
    
    
}

.passRadius{
    
    border-radius: 5px;
    padding: 0.5rem;
}

.accountClose{
    color: white;
    text-align: center;

}