.sidebar {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: $sidebar;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sidebar-icon {
    color: white;
    margin: 1em;
    padding: 1em;
    border-radius: 20px;
    background-color: $sidebarIcon;
    font: {
      size: em(20);
    }
  }
}
